
@{
	ViewData["Title"] = "Index";
	//Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index Page</h1>
<p>This is  Home page</p>
@* <h1>Current date and time is @DateTime.Now</h1>
<h1>Current year is @DateTime.Now.Year</h1>


@{
	var name = "John Doe";
	var age = 30;
	var isEmployed = true;
}

<h2>Name=@name</h2>
<h2>Age=@age</h2>
<h2>Is Employed=@isEmployed</h2>
 *@

  